.form-control::-webkit-input-placeholder { color: #999; }
.form-control:-moz-placeholder { color: #999; }
.form-control::-moz-placeholder { color: #999; }
.form-control:-ms-input-placeholder { color: #999; }
.dropdown-menu { width:500px;}
.dropdown-menu li {margin-bottom: 10px; margin-top:10px;}
body {
  background-color: #F2F2F2
}
.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

html {
    overflow-y:scroll;
}

.colorgraph {
    height: 5px;
    border-top: 0px none;
    background: #C4E17F linear-gradient(to right, #C4E17F, #C4E17F 12.5%, #F7FDCA 12.5%, #F7FDCA 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, rgb(98, 194, 228) 87.5%, rgb(98, 194, 228)) repeat scroll 0% 0%;
    border-radius: 5px;
}


blockquote {
    font-size: 16px;
    background: #F9F9F9 none repeat scroll 0% 0%;
    border-left: 10px solid #CCC;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’";
}

.item-img-container {
  height: 238px;
}

.book-title {
  color: black;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer; cursor: hand;
}

.book-title:hover {
  color:#24A282;
}

.owl-carousel .item{
  margin-left: 18px;
  margin-right: 18px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.owl-carousel .item img{
  max-height: 235px;
  border:1px solid #021a40;
  cursor: pointer; cursor: hand;
}

a {
  cursor: pointer; cursor: hand;  
}

.white{
    color:#000;
    background-color:#fff;
}

.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783 !important;
  *background-color: #102e6d !important;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9 !important;
}
